@*@model string*@
@*@model Persona*@
@model HomeIndexViewModel


@*la diferencia entre el model de aca y el Model del html, el model en minuscula significa el tipo de dato que recibira la
vista y el Model sirve para poder acceder al modelo*@

@*@*PARA CAMBIAR DE HTML A CSHARP ES MEDIANTE EL MODIFICADOR @*@

@{
    ViewData["Title"] = "Home Page";  //podemos tambiwen colocar bloques de funciones
    string convertirEnMayusculas(string valor)
    {
        return valor.ToUpper() + "ZZZ";
    }

    DateTime hoy = DateTime.Now;
    var nombres = new List<string>() { "Felipe", "Claudia", "Carlos" };

}

@*<h2>Ejemplo 1</h2>
<div>
    Guid Transitorio : <b style="color : red;">@Model.EjemploGUID_1.Transitorio</b>
</div>

<div>
    Guid delimitado: <b style="color : green;">@Model.EjemploGUID_1.Delimitado</b>
</div>


<div>
    Guid unico : <b style="color : blue;">@Model.EjemploGUID_1.Unico</b>
</div>


<h2>Ejemplo 2</h2>
<div>
    Guid Transitorio : <b style="color : red;">@Model.EjemploGUID_2.Transitorio</b>
</div>

<div>
    Guid delimitado: <b style="color : green;">@Model.EjemploGUID_2.Delimitado</b>
</div>


<div>
    Guid unico : <b style="color : blue;">@Model.EjemploGUID_2.Unico</b>
</div>*@


<partial name="_Presentacion" />

<partial name="_Habilidades" />

<partial name="_SeccionProyectos" model="Model.Proyectos" > @*//al usar el enumerador explicitamente tenemos que pasarle a la vista parcial el enumerador*@
            @*IMPORTANTE RECORDAR QUE ESTO FUNCIONARA AUNQUE EL MODELO SEA NULO POR QUE SIMPLEMENTE NO HABRA PROYECTOS PARA MOSTRAR*@